mat-divider{
  width: 50% !important;
  margin: 0 25% !important;
}

mat-card-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  img{
      margin:50px 0 20px;
  }

  .status{
      color: #A5D76E;
      font-size: 35px;
  }
}
mat-card-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 1%;
  text-align: center;
  ul{
      margin-top: 10px;
      list-style-position:inside;
      li{
          margin-top: 2px;
          line-height: 32px;
          font-size: 22px;
          font-weight: 500;
      }
  }
}
mat-card-actions{
  display: flex;
  justify-content: center;
}
.pad-t-b{
  padding-top: 2%;
}
button{
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}
